<div class="card-body">
    <form [formGroup]="productForm">
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Product Name" formControlName="name" required>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Enter Long Description" formControlName="longDescription"></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-label>Select Category</mat-label>
                <select matNativeControl formControlName="categoryId" required>
                    <option value="none">None</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="details col-md-10">
                    <mat-label>Description Lines</mat-label>
                    <ol class="ol-side-margin" *ngIf="descriptionLines.length != 0">
                        <li *ngFor="let item of descriptionLines; let i = index">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="link-access" (click)="getDescription(i)">{{item.name}}</p>
                                </div>
                                <div class="col-md-2">
                                    <i class="material-icons btn-close pull-right"
                                        (click)="onRemoveDescription(i)">close</i>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger pull-right" (click)="openModal()">Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button mat-raised-button class="btn btn-danger pull-right" *ngIf="!productBlock" [disabled]="productForm.invalid" (click)="onSaveProduct()">Create
                Product</button>
                <app-loading-ui *ngIf="productBlock" [block]='productBlock'></app-loading-ui>
        </div>
    </form>
</div>

<aside class="aside-right-description" [ngClass]="{'open': display}">
    <div *ngIf='display'>
        <div class="modal-header">
            <h4 *ngIf="!isUpdate">Create Description Line</h4>
            <h4 *ngIf="isUpdate">Update Description Line</h4>
            <i class="material-icons btn-close" (click)="closeModal()">close</i>
        </div>
        <div class="modal-body">
            <form [formGroup]="descriptionForm">
                <div class="col-md-12" *ngIf="filePath == null">
                    <input type="file" multiple accept='image/*' (change)="onFileChange($event)">
                </div>
                <div class="col-md-12" *ngIf="filePath != null">
                    <mat-form-field class="example-full-width">
<!--                        <input matInput placeholder="Enter Image URL" disabled required formControlName="imageUrl">-->
                        <input matInput placeholder="Enter Image URL" disabled required readonly formControlName="imageUrl">
                    </mat-form-field>
                </div>
                <br *ngIf="filePath == null" />
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter Description Name" required formControlName="name">
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" class="example-right-align" placeholder="Enter MRP" required
                            formControlName="mrp">
                        <span matPrefix>LKR&nbsp;</span>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" class="example-right-align" placeholder="Enter Quantity" required
                            formControlName="quantity">
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" class="example-right-align" placeholder="Enter Unit Price"
                            required formControlName="unitPrice">
                        <span matPrefix>LKR&nbsp;</span>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-danger pull-right" *ngIf="!isUpdate" [disabled]="descriptionForm.invalid"
                        (click)="onSaveDescription()">Add</button>
                    <button class="btn btn-danger pull-right" *ngIf="isUpdate" [disabled]="descriptionForm.invalid"
                        (click)="onUpdateDescription()">Update</button>
                </div>
            </form>
        </div>
    </div>
</aside>


<aside class="aside-right-preview" [ngClass]="{'open': previewDisplay}">
    <div *ngIf='display'>
        <div class="modal-header">
            <h4>Image Preview</h4>
            <i class="material-icons btn-close" (click)="closePreviewModal()">close</i>
        </div>
        <div class="modal-body">
            <img [src]="filePath" width="100%" height="100%" />
            <app-loading-ui *ngIf="imageBlock" [block]="imageBlock"></app-loading-ui>
            <button *ngIf="!imageBlock && !imageUploadSuccess" class="btn btn-danger" (click)="onImageUpload()">Save</button>
            <button *ngIf="!imageBlock && imageUploadSuccess" class="btn btn-danger" (click)="onRemoveImage()">Remove</button>
        </div>
    </div>
</aside>
