.selection :hover {
    border: 1px solid #ef8157;

}
.scrollable-div {
    overflow-y: scroll;
    height: 500px;
}
.product-name {
    font-size: 12px;
    text-align: center;
}
.stable-div {
    height: 330px;
}
.reduce-padding td {
    padding:5px;
    font-size: 12px;
}
.btn-delete {
    cursor: pointer;
}
.small-font {
    font-size: 10px;
}
.small-font-head th {
    font-size: 12px;
}
.font-loading {
    font-size: 12px;
    text-align: center;
}
.text-width {
    width:100%;
    background-color: none;
    border: none;
    outline: none;
}
.btn {
    width: 100%;
}
.number-total {
    text-align: right;
}
.slight-margin {
    margin-top: 30px;
}
.slight-margin-textbox {
    margin-top: 6px;
}
.selection {
    cursor: pointer;
}