<div class="modal-body">
    <div class="col-md-12">
        <label>Promotion Image</label>
        <img [src]="promotion.promotionImage" alt="Couldn't access the image" width="100%" height="100%" />
        <label>Description\Name</label>
        <p>{{promotion.description}}</p>
        <label>Start Date</label>
        <p>{{promotion.startDate | date: 'medium'}}</p>
        <label>End Date</label>
        <p>{{promotion.endDate | date: 'medium'}}</p>
        <label>Promotion Products | {{promotion.promotionLines.length}} item(s)</label>
    </div>
    <div class="description-border" *ngFor="let item of promotion.promotionLines; let i = index">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{item.product.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <label>Description ID</label>
            <p>{{item.descriptionId}}</p>
            <label>Discounted Price</label>
            <p>{{item.discountPrice | currency: 'LKR'}}</p>
            <label>Quantity</label>
            <p>{{item.quantity}}</p>
            <label>Unit Price</label>
            <p>{{item.unitPrice | currency: 'LKR'}}</p>
        </mat-expansion-panel>
    </div>
</div>