<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Promotions</h4>
                                <p class="card-subtitle">Now you can manipulate promotion details</p>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Search" [(ngModel)]="search" type="text" class="mat-input" (input)="filterPromotion()">
                                </mat-form-field>
                              </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary create-btn pull-right" (click)="openCreateModal()">New</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Start Time
                                    </th>
                                    <th>
                                        End Time
                                    </th>
                                    <th>
                                        Products Included
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="block">
                                        <td colspan="6">
                                            <app-loading-ui [block]="block"></app-loading-ui>
                                        </td>
                                    </tr>
                                    <tr *ngIf="viewPromotions?.length == 0 && block == false">
                                        <td colspan="6" style="text-align: center;">
                                            No Records Found
                                        </td>
                                    </tr>
                                    <tr *ngFor="let promotion of viewPromotions; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{promotion.description == null ? 'No Description Provided': promotion.description}}</td>
                                        <td>{{promotion.startDate | date}}</td>
                                        <td>{{promotion.endDate | date}}</td>
                                        <td class="more-promotion">
                                            {{promotion.promotionLines.length}} Product(s) inside</td>
                                        <td>
                                            <i class="material-icons btn-view"
                                               (click)="openPromotionModal(promotion)">visibility</i>
                                            <i class="material-icons btn-delete" (click)="openPromotionEdit(promotion)">create</i>
                                            <i class="material-icons btn-delete" (click)="openDeleteModal(promotion)">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<aside class="aside-right" [ngClass]="{'open': display}">
    <div *ngIf='display'>
        <div class="modal-header">
            <h4>{{heading_text}}</h4>
            <a class="btn-close" (click)="closeModal()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <app-promotion-view-dlg *ngIf="promotion != null && fullPromotion" [promotion]="promotion"></app-promotion-view-dlg>
        <app-promotion-create *ngIf="promotion == null && !isUpdate && !isDelete" (notify)="completedModal()"></app-promotion-create>
        <app-promotion-update *ngIf="promotion !== null && isUpdate" [promotion]="promotion" (updated)="updateModal()"></app-promotion-update>
        <app-promotion-delete *ngIf="promotion !== null && !isUpdate && isDelete" [promotion]="promotion" (updated)="deleteModel()"></app-promotion-delete>
    </div>
</aside>
