<div class="main-content">
    <div class="row reduce-margin">
        <div class="col-9">
            <div class="side-panel">
                <label class="text-label">MINGEMS</label>
            </div>
        </div>
        <div class="col side-panel-right">
            <div class="light-margin-top">
                <h2 style="text-align:center;margin-top: 15px">MINGEMS | Admin</h2>
                <form class="form-box" [formGroup]="authForm" (ngSubmit)="login()">
                    <div class="row">
                        <div class="col-md">
                            <label for="inputLGEx">Username</label>
                            <input class="form-control form-control-lg" formControlName="email" type="text"
                                placeholder="Enter Username">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md">
                            <label for="inputLGEx">Password</label>
                            <input class="form-control form-control-lg" type="password" formControlName="password"
                                placeholder="Enter Password">
                        </div>
                    </div>
                    <br />
                    <div *ngIf="!block">
                        <button mat-raised-button type="submit" class="btn btn-danger increase-width">{{redirectName}}</button>
                    </div>
                    <app-loading-ui [block]="block"></app-loading-ui>
                </form>
                <div class="row">
                    <div class="col-md">
                        <a data-target="#enterEmail" data-toggle="modal" class="form-check-label pointer-label"
                            (click)="openModal()">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="display" class="modal fade" id="enterEmail">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [formGroup]="forgotForm">
                <div class="modal-body">
                    <input type="text" class="form-control" formControlName="Email"
                        placeholder="Enter your e-mail" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <app-loading-ui [block]="resetBlock"></app-loading-ui>
                    <button *ngIf="!resetBlock" type="button" class="btn btn-danger" (click)="resetPassword()">Send Reset
                        Link</button>
                </div>
            </div>
        </div>
    </div>
</div>