<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Payments</h4>
                                <p class="card-subtitle">Now you can see your payment details</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Payment Date
                                    </th>
                                    <th>
                                        Due Date
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="block">
                                        <td colspan="4">
                                            <app-loading-ui [block]="block"></app-loading-ui>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!block">
                                        <td>1</td>
                                        <td>Monday, June 15, 2015</td>
                                        <td>Monday, June 15, 2021</td>
                                        <td>$11.95 (LKR 2,410)</td>
                                        <td>
                                            <mat-chip-list>
                                                <mat-chip color="primary" selected>Over Due</mat-chip>
                                            </mat-chip-list>
                                        </td>
                                        <td><button class="btn btn-primary">Pay Now</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>