.card-header {
    background-color: #7bbf44;
}
.card-subtitle, .card-title {
    color: white;
}

.aside-right.open {
    right: 0;
    border-left: 2px solid #7bbf44;
  }
  .aside-right {
    max-width: 400px;
    width: 100%;
    position: fixed;
    right: -410px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -14px 0px 20px -10px rgb(167 167 167 / 32%);
    z-index: 9999;

  }
  .btn-close {
    float:right;
    cursor: pointer;
  }
  .increase-width {
    width: 100%;
}
.create-btn {
  background-color: white;
  color: #7bbf44;
  font-weight: bold;
}
h4 {
  font-weight: bold;
}
.btn-view {
    cursor: pointer;
}
.mat-input {
  color: white;
}
.mat-input::placeholder {
  color: white;
}
.btn-delete {
  cursor: pointer;
  margin-left: 20px;
}