<h1 mat-dialog-title>Create Purchase</h1>
<div mat-dialog-content>
    <div class="container">
        <form [formGroup]="purchaseGroup" class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Full Name" formControlName="name" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Description" formControlName="description">
                </mat-form-field>
            </div>
            <p *ngIf="isBlock">Loading Investors. Please Wait! ...</p>
            <div class="col-md-6">
                <ng-select formControlName="investorId" required placeholder="Select Investor">
                    <ng-option *ngFor="let investor of investors" [value]="investor.id">{{investor.firstName}}
                        {{investor.lastName}}</ng-option>
                </ng-select>
            </div>
            <p *ngIf="isBlock">Loading Suppliers. Please Wait! ...</p>
            <div class="col-md-6">
                <ng-select formControlName="supplierId" required placeholder="Select Supplier">
                    <ng-option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter UnitPrice" formControlName="unitPrice">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Export Cost" formControlName="exportCost" required>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>

<div mat-dialog-actions class="align-right" *ngIf="isBlock">
    <app-loading-ui [block]="isBlock"></app-loading-ui>
</div>

<div mat-dialog-actions class="align-right" *ngIf="!isBlock">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button id="btn-update" [disabled]="purchaseGroup.invalid" (click)="onSave()">Save</button>
</div>