<h1 mat-dialog-title>Create Inventory</h1>
<div mat-dialog-content>
    <div class="container">
        <form [formGroup]="inventoryGroup" class="row">
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter barcode" formControlName="barcode" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Name" formControlName="name" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Description" formControlName="description" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Quantity" formControlName="quantity" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Unit Price" formControlName="unitPrice" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Recutting Cost" formControlName="recuttingCost" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Certificate Cost" formControlName="certificateCost" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Export Cost" formControlName="exportCost" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Measurement" formControlName="measurement" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Weight" formControlName="weight" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Price Code" formControlName="priceCode" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Last Code" formControlName="lastPriceCode" required>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>

<div mat-dialog-actions class="align-right" *ngIf="isBlock">
    <app-loading-ui [block]="isBlock"></app-loading-ui>
</div>

<div mat-dialog-actions class="align-right" *ngIf="!isBlock">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button id="btn-update" [disabled]="inventoryGroup.invalid" (click)="onSave()">Save</button>
</div>