
*/
.tim-typo{
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.tim-typo .tim-note{
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #ef8157;
  color: #fff;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #ef8157;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ef8157;
}
.spinner-border {
  border-right-color: #ef8157;
}
.mat-button-toggle-label-content {
  line-height: 25px;
}