<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Sliders</h4>
                                <p class="card-subtitle">Now you can manipulate slider details</p>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Search" [(ngModel)]="search" type="text" class="mat-input" (input)="filterSlider()">
                                </mat-form-field>
                              </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary create-btn pull-right" (click)="openCreateModal()">New</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="block">
                                        <td colspan="6">
                                            <app-loading-ui [block]="block"></app-loading-ui>
                                        </td>
                                    </tr>
                                    <tr *ngIf="sliders?.length == 0 && block == false">
                                        <td colspan="4" style="text-align: center;">
                                            No Records Found
                                        </td>
                                    </tr>
                                    <tr *ngFor="let slider of sliders; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td style="width: 200px">
                                            <div style="width: 100%;">
                                                <img [src]="slider.imageUrl" loading="lazy" width="100%"/>
                                            </div>
                                        </td>
                                        <td>{{slider.name}}</td>
                                        <td>{{slider?.products?.name || "N/A"}}</td>
                                        <td>
                                            <i class="material-icons btn-view"
                                               (click)="openSliderModal(slider)">visibility</i>
                                            <i class="material-icons btn-delete" (click)="openSliderEdit(slider)">create</i>
                                            <i class="material-icons btn-delete" (click)="openDeleteModal(slider)">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<aside class="aside-right" [ngClass]="{'open': display}">
    <div *ngIf='display'>
        <div class="modal-header">
            <h4>{{heading_text}}</h4>
            <a class="btn-close" (click)="closeModal()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <app-slider-view-dlg *ngIf="slider != null && !isUpdate && !isDelete" [slider]="slider"></app-slider-view-dlg>
        <app-slider-create *ngIf="slider == null && !isUpdate && !isDelete" (notify)="completedModal()"></app-slider-create>
        <app-slider-update *ngIf="slider !== null && isUpdate" [slider]="slider" (updated)="updateModal()"></app-slider-update>
        <app-slider-delete *ngIf="slider !== null && !isUpdate && isDelete" [slider]="slider" (updated)="deleteModel()"></app-slider-delete>
    </div>
</aside>
