<h1 mat-dialog-title>Final Order Step</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-md-6">
            <ng-select placeholder="Select Order Status" (change)="onSelectStatus($event)">
                <ng-option [value]="0">Pending</ng-option>
                <ng-option [value]="1">Paid</ng-option>
                <ng-option [value]="2">Cancelled</ng-option>
            </ng-select>
        </div>
        <div class="col-md-6">
            <ng-select placeholder="Select Payment Mode" (change)="onSelectPaymentMode($event)">
                <ng-option [value]="0">Cash</ng-option>
                <ng-option [value]="1">Card</ng-option>
            </ng-select>
        </div>
        <div class="col-md-12" *ngIf="checkDate()">
            <mat-form-field appearance="fill">
                <mat-label>Payment Date</mat-label>
                <input matInput [matDatepicker]="picker" (dateChange)="onSelectDate('input', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
    </div>
</div>

<div mat-dialog-actions class="align-right" *ngIf="isBlock">
    <app-loading-ui [block]="isBlock"></app-loading-ui>
</div>

<div mat-dialog-actions class="align-right" *ngIf="!isBlock">
    <button mat-button (click)="close('close')">Cancel</button>
    <button mat-button id="btn-update" (click)="onSave()">Place</button>
</div>