<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Investment</h4>
                                <p class="card-subtitle">Now you can view investment details</p>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search" type="text" [(ngModel)]="search" class="mat-input" (input)="searchInvestment()">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary create-btn pull-right"
                                    (click)="openCreateDialog()">New</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th> Ref Id</th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Contact No
                                    </th>
                                    <th>
                                        Amount(£)
                                    </th>
                                    <th>
                                        Remaining Amount(£)
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="isBlock">
                                        <td colspan="9">
                                            <app-loading-ui [block]="isBlock"></app-loading-ui>
                                        </td>
                                    </tr>
                                    <tr *ngIf="investments.length == 0 && isBlock == false" class="text-center">
                                        <td colspan="9">
                                            <span class="font-italic">No record found!</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let investment of investments; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{investment.refId}}</td>
                                        <td>{{investment.firstName}}</td>
                                        <td>{{investment.lastName}}</td>
                                        <td>{{investment.email}}</td>
                                        <td>{{investment.contactNo}}</td>
                                        <td>{{investment.amount | number: '1.2-2'}}</td>
                                        <td>{{investment.remainingAmount | number: '1.2-2'}}</td>
                                        <td>
                                            <i class="material-icons btn-view"
                                                (click)="openViewModal(investment)">visibility</i>
                                            <i class="material-icons btn-delete"
                                                (click)="openUpdateDialog(investment)">create</i>
                                            <i class="material-icons btn-delete"
                                                (click)="openDeleteModal(investment)">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<aside class="aside-right" [ngClass]="{'open': isDisplay}">
    <div *ngIf='isDisplay'>
        <div class="modal-header">
            <h4>{{heading_text}}</h4>
            <a class="btn-close" (click)="closeModal()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <app-investment-view-dlg *ngIf="investment != null && !isDelete" [investment]="investment">
        </app-investment-view-dlg>
        <app-investment-delete *ngIf="investment != null && isDelete" [investment]="investment" (deleted)="refresh()">
        </app-investment-delete>
    </div>
</aside>