.card-header {
    background-color: #ef8157;
}
.card-title, .card-subtitle {
    color: white;
}
.out-of-order-header {
    color: #ef8157;
}
h4 {
    font-weight: bold;
}
.create-btn {
    background-color: white;
    color: #ef8157;
    font-weight: bold;
}
.create-btn:hover {
    border: 2px solid white;
}
.btn-delete {
    cursor: pointer;
    margin-left: 10px;
}
.btn-view {
    cursor: pointer;
}
.aside-right.open {
    right: 0;
    border-left: 2px solid #ef8157;
    transition-duration: 0.5s;
  }
  .aside-right {
    max-width: 420px;
    width: 100%;
    position: fixed;
    right: -430px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -14px 0px 20px -10px rgb(167 167 167 / 32%);
    z-index: 10;

  }
  .btn-close {
    float:right;
    cursor: pointer;
  }
  .increase-width {
    width: 100%;
}
.basic-border {
    border: 2px solid #ef8157;
    padding: 10px 18px 10px 18px;
    transition-duration: 1.0s;
} 
.assign-green {
    background-color: green;
}
.assign {
    width: 10px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;
}
.assign-red {
    background-color: red;
}
.row-green {
    border-left: 4px solid green;
}
.row-red {
    border-left: 4px solid red;
}