<h1 mat-dialog-title>New features & improvements has been released</h1>
<div mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Releases">
            <p></p>
            <ul>
                <li>New API has been released V1</li>
                <li>Now you can generate report with limited features</li>
                <li>Storage has been moved to different location</li>
                <li>Security Patches 10.2</li>
                <li>Hosted Password reset and account verification portal</li>
                <li>Performance upgrade</li>
                <li>Errors are made more visible</li>
                <li>Added speed adapters 2.0</li>
            </ul>
            <div>
                <img src="assets/img/report.PNG" width="40%"/>
            </div>
        </mat-tab>
        <mat-tab label="Fixed Bugs">
            <p></p>
            <ul>
                <li>Order update issues fixed</li>
                <li>Slider update issue fixed</li>
                <li>Upload images with cors issues fixed</li>
                <li>Rendering dashboard</li>
                <li>Product added issue fixed</li>
                <li>Delivery Location update issue fixed</li>
                <li>Moved to product from out of stock issues fixed</li>
                <li>Category tentative update values issue fixed</li>
                <li>MINGEMS Certificate updated</li>
                <li>Login issues with cors fixed</li>
                <li>Order cannot be please more than one product fixed</li>
            </ul>
        </mat-tab>
        <mat-tab label="Known Bugs">
            <p></p>
            <ul>
                <li>Issue in product update manipulation</li>
                <li>User IP Address issue and last logged date</li>
                <li>Order realtime notification</li>
                <li>Cannot move to previous order pagination</li>
            </ul>
        </mat-tab>
        <mat-tab label="Future Releases">
            <p></p>
            <ul>
                <li>Major Bugs fixes</li>
                <li>Security patches 10.3</li>
                <li>Product sales report</li>
                <li>Maintenance Payment tab</li>
                <li>Support page, to help issues fixed quicker</li>
            </ul>
        </mat-tab>
    </mat-tab-group>
</div>