<h1 mat-dialog-title>New features & improvements has been released</h1>
<div mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Releases">
            <p></p>
            <ul>
                <li>Email service has been migrated with Zoho Mail Provider</li>
            </ul>
        </mat-tab> 
        <mat-tab label="Fixed Bugs">
            <p></p>
            <ul>
                <li>Order Invoice moving to spam</li>
            </ul>
        </mat-tab>
        <mat-tab label="Known Bugs">
            <p></p>
            <ul>
                <li>User IP Address issue and last logged date</li>
                <li>Cannot move to previous order pagination</li>
            </ul>
        </mat-tab>
        <mat-tab label="Future Releases">
            <p></p>
            <ul>
                <li>Major Bugs fixes</li>
                <li>Security patches 10.5</li>
                <li>Product sales report</li>
                <li>Maintenance Payment tab</li>
            </ul>
        </mat-tab>
    </mat-tab-group>
</div>