.aside-right-description.open {
    right: 0;
    border-left: 2px solid #7bbf44;
  }
  .aside-right-description {
    max-width: 420px;
    width: 100%;
    position: fixed;
    right: -430px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -14px 0px 20px -10px rgb(167 167 167 / 32%);
    z-index: 9;
  }
  .btn-close {
    float:right;
  }
  .increase-width {
    width: 100%;
}

.aside-right-preview.open {
  right: 420px;
  border-left: 2px solid #7bbf44;
}
.aside-right-preview {
  max-width: 400px;
  width: 100%;
  position: fixed;
  right: -830px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: -14px 0px 20px -10px rgb(167 167 167 / 32%);
  z-index: 5;

}

.increase-width {
  width: 100%;
}
img {
  margin-bottom: 10px;
}
.link-access:hover {
  color: blue;
  cursor: pointer;
}
h4 {
  font-weight: bold;
}