
#main_table_header, #main_card_header {
    background-color: #7bbf44;
}

.more-product:hover {
    color: blue;
    cursor: pointer;
}

.aside-right.open {
    right: 0;
    border-left: 2px solid #7bbf44;
}
.aside-right {
    max-width: 400px;
    width: 100%;
    position: fixed;
    right: -410px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -14px 0px 20px -10px rgb(167 167 167 / 32%);
    z-index: 9999;

}
.btn-close {
    float:right;
}
.increase-width {
    width: 100%;
}
.description-border {
    padding: 10px 10px 0 10px;
}
h4 {
    font-weight: bold;
}
.card-title, .card-subtitle {
    color: white;
}
.btn-view {
    cursor: pointer;
}
.tentative {
    margin-left: 10px;
}
