<div class="row">
    <div class="col-md-12">
        <h1 mat-dialog-title>Inventory Search Filteration</h1>
    </div>
    <div class="col-md-3">
        <mat-form-field>
            <input matInput placeholder="Barcode">
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field>
            <input matInput placeholder="Product Name">
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Investor Name">
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Investor Ref Id">
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Measurement">
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Weight">
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Unit Price">
        </mat-form-field>
    </div>
</div>


<div mat-dialog-actions class="align-right" *ngIf="!isBlock">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button id="btn-update" (click)="apply()">Search</button>
</div>