.card-header {
    background-color: #ef8157;
}
.card-title, .card-subtitle {
    color: white;
}
.out-of-order-header {
    color: #ef8157;
}
h4 {
    font-weight: bold;
}
.create-btn {
    background-color: white;
    color: #ef8157;
    font-weight: bold;
}
.create-btn:hover {
    border: 2px solid white;
}
.image-viewer {
    color: blue;
    cursor: pointer;
}
.btn-view {
    margin-left: 10px;
    cursor: pointer;
}
.aside-right.open {
    right: 0;
    border-left: 2px solid #ef8157;
    transition-duration: 0.5s;
  }
  .aside-right {
    max-width: 350px;
    width: 100%;
    position: fixed;
    right: -360px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -14px 0px 20px -10px rgb(167 167 167 / 32%);
    z-index: 10;

  }
  .btn-close {
    float:right;
    cursor: pointer;
  }
  .increase-width {
    width: 100%;
}