<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Inventory</h4>
                                <p class="card-subtitle">Now you can view inventory details</p>
                            </div>
                            <!-- <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search" type="text" class="mat-input">
                                </mat-form-field>
                            </div> -->
                            <!-- <div class="col-md-2">
                                <button class="btn btn-primary create-btn pull-right"
                                    (click)="openCreateDialog()">New</button>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Images
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Investor
                                    </th>
                                    <th>
                                        Weight
                                    </th>
                                    <th>
                                        Measurement
                                    </th>
                                    <th>Total Cost(£)</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="isBlock">
                                        <td colspan="8">
                                            <app-loading-ui [block]="isBlock"></app-loading-ui>
                                        </td>
                                    </tr>
                                    <tr *ngIf="inventories.length == 0 && isBlock == false" class="text-center">
                                        <td colspan="8">
                                            <span class="font-italic">No record found!</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let inventory of inventories; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td class="image-viewer">View Images</td>
                                        <td>{{inventory.name}}</td>
                                        <td>{{inventory.investment?.firstName || ''}} {{inventory.investment?.lastName
                                            || 'N/A'}}</td>
                                        <td>{{inventory.weight}}</td>
                                        <td>{{inventory.measurement}}</td>
                                        <td>{{(inventory.unitPrice + inventory.exportCost + inventory.commissionCost +
                                            inventory.certificateCost + inventory.recuttingCost) | number: '1.2-2'}}
                                        </td>
                                        <td>
                                            <!-- <i class="material-icons btn-view"
                                                (click)="openCategoryDlgModal(category)">visibility</i> -->
                                            <i class="material-icons btn-view"
                                                (click)="openPrintDialog(inventory.purchaseId)">print</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>