<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Customers</h4>
                                <p class="card-subtitle">Now you can view customers details</p>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search" type="text" [(ngModel)]="search" class="mat-input" (input)="searchCustomer()">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary create-btn pull-right"
                                    (click)="openCreateDialog()">New</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>Contact No</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="isBlock">
                                        <td colspan="6">
                                            <app-loading-ui [block]="isBlock"></app-loading-ui>
                                        </td>
                                    </tr>
                                    <tr *ngIf="customers.length == 0 && isBlock == false" class="text-center">
                                        <td colspan="6">
                                            <span class="font-italic">No record found!</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let customer of customers; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{customer.firstName}}</td>
                                        <td>{{customer.lastName}}</td>
                                        <td>{{customer.email}}</td>
                                        <td>{{customer.contactNo || '-'}}</td>
                                        <td>
                                            <i class="material-icons btn-view"
                                                (click)="openViewModal(customer)">visibility</i>
                                                <i class="material-icons btn-delete"
                                                (click)="openUpdateDialog(customer)">create</i>
                                            <i class="material-icons btn-delete"
                                                (click)="openDeleteModal(customer)">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<aside class="aside-right" [ngClass]="{'open': isDisplay}">
    <div *ngIf='isDisplay'>
        <div class="modal-header">
            <h4>{{heading_text}}</h4>
            <a class="btn-close" (click)="closeModal()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <app-customer-view-dlg *ngIf="customer != null && !isDelete" [customer]="customer">
        </app-customer-view-dlg>
        <app-customer-delete *ngIf="customer != null && isDelete" [customer]="customer" (deleted)="refresh()">
        </app-customer-delete>
    </div>
</aside>