<div class="logo">
    <a class="simple-text logo-mini">
        <div class="logo-image-small">
            <img src="assets/img/favicon.png" width="25%">
        </div>
    </a>
    <a href="dashboard" class="simple-text">
        MINGEMS | Admin
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" (click)="logout()">
                    <i class="material-icons">exit_to_app</i>
                    <p>
                        <span class="d-lg-none d-md-block">Logout</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" *ngIf="menuItem.class === ''" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <p style="font-size: 9px;text-align: center;">VERSION 1.0</p>
</div>