<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Delivery Locations</h4>
                                <p class="card-subtitle">Now you can manipulate Delivery Location details</p>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search" [(ngModel)]="search" type="text" class="mat-input" (input)="filterDeliveryCharges()">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary create-btn pull-right" (click)="openCreateModal()">New</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                <tr>
                                    <th>#</th>
                                    <th>City</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>

                                </thead>
                                <tbody>
                                <tr *ngIf="block">
                                    <td colspan="6">
                                        <app-loading-ui [block]="block"></app-loading-ui>
                                    </td>
                                </tr>
                                <tr *ngIf="viewDeliveryCharges.length == 0 && block == false">
                                    <td colspan="6" style="text-align: center;">
                                        No Records Found
                                    </td>
                                </tr>
                                <tr *ngFor="let deliveryCharge of viewDeliveryCharges; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{deliveryCharge.city}}</td>
                                    <td>{{deliveryCharge.amount | currency: 'LKR '}}</td>
                                    <td>
                                        <i class="material-icons btn-view"
                                           (click)="openDeliveryChargeModal(deliveryCharge)">visibility</i>
                                        <i class="material-icons btn-delete"
                                           (click)="openDeliveryChargeEdit(deliveryCharge)">create</i>
                                        <i class="material-icons btn-delete"
                                           (click)="openDeliveryDeleteModal(deliveryCharge)">delete</i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<aside class="aside-right" [ngClass]="{'open': display}">
    <div *ngIf='display'>
        <div class="modal-header">
            <h4>{{heading_text}}</h4>
            <a class="btn-close" (click)="closeModal()">
                <i class="material-icons">close</i>
            </a>
        </div>

        <app-delivery-location-create *ngIf="deliveryCharge === null" (created)="reload()"></app-delivery-location-create>
        <app-delivery-location-view-dlg *ngIf="deliveryCharge !== null && fullDeliveryCharge" [deliveryCharge]="deliveryCharge"></app-delivery-location-view-dlg>
        <app-delivery-location-update *ngIf="deliveryCharge !== null && isUpdate" [deliveryCharge]="deliveryCharge" (updated)="reload()"></app-delivery-location-update>
        <app-delivery-location-delete *ngIf="deliveryCharge !== null && isDelete" [deliveryCharge]="deliveryCharge" (deleted)="reload()"></app-delivery-location-delete>
    </div>
</aside>
