<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Purchase</h4>
                                <p class="card-subtitle">Now you can view purchase details</p>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search" type="text" [(ngModel)]="search"
                                        class="mat-input" (input)="searchPurchase()">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary create-btn pull-right"
                                    (click)="openCreateDialog()">New</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>Move</th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Investor
                                    </th>
                                    <th>
                                        Supplier
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Cost(£)
                                    </th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="isBlock">
                                        <td colspan="8">
                                            <app-loading-ui [block]="isBlock"></app-loading-ui>
                                        </td>
                                    </tr>
                                    <tr *ngIf="purchases.length == 0 && !isBlock" class="text-center">
                                        <td colspan="8">
                                            <span class="font-italic">No record found!</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let purchase of purchases; let i = index">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            <mat-slide-toggle [disabled]="purchase.moved ? true:false"
                                                (change)="moveToProduct(purchase, i)" id="toggle{{i}}"
                                                [checked]="purchase.moved ? true : false">
                                            </mat-slide-toggle>
                                        </td>
                                        <td>{{purchase.name}}</td>
                                        <td>{{purchase?.investment?.firstName || 'N/A'}}</td>
                                        <td>{{purchase?.supplier?.name || 'N/A'}}</td>
                                        <td>{{purchase.transactionDate | date: 'medium'}}</td>
                                        <td>{{purchase.unitPrice | number: '1.2-2'}}</td>
                                        <td>
                                            <i class="material-icons btn-view"
                                                (click)="openViewModal(purchase)">visibility</i>
                                            <i class="material-icons btn-delete"
                                                (click)="openUpdateDialog(purchase)">create</i>
                                            <i class="material-icons btn-delete"
                                                (click)="openDeleteModal(purchase)">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<aside class="aside-right" [ngClass]="{'open': isDisplay}">
    <div *ngIf='isDisplay'>
        <div class="modal-header">
            <h4>{{heading_text}}</h4>
            <a class="btn-close" (click)="closeModal()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <app-purchase-view-dlg *ngIf="purchase != null && !isDelete" [purchase]="purchase">
        </app-purchase-view-dlg>
        <app-purchase-delete *ngIf="purchase != null && isDelete" [purchase]="purchase" (deleted)="refresh()">
        </app-purchase-delete>
    </div>
</aside>