<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Purchase</h4>
                                <p class="card-subtitle">Now you can view purchase details</p>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search" type="text" class="mat-input">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary create-btn pull-right"
                                    (click)="openCreateDialog()">New</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Investor
                                    </th>
                                    <th>
                                        Supplier
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Cost
                                    </th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="block">
                                        <td colspan="7">
                                            <app-loading-ui [block]="block"></app-loading-ui>
                                        </td>
                                    </tr>
                                    <tr *ngIf="purchases.length == 0 && !block" class="text-center">
                                        <td colspan="7">
                                            <span class="font-italic">No record found!</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let purchase of purchases; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{purchase.name}}</td>
                                        <td>{{purchase.investment.firstName}}</td>
                                        <td>{{purchase.supplier.name}}</td>
                                        <td>{{purchase.transactionDate | date: 'medium'}}</td>
                                        <td>{{purchase.unitPrice}}</td>
                                        <td>
                                            <i class="material-icons btn-view">visibility</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>